<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn" [style.left]="isActive?'110px':'0px'"></div>
            <button type="button" class="toggle-btn" (click)="login()">LOGIN</button>
            <button type="button" class="toggle-btn" (click)="register()">REGISTER</button>
        </div>
        <div class="social-icons">
            <img src="../../../../../../../assets/social media icons/iconfinder_1_Facebook_colored_svg_copy_5296499.png" >
            <img src="../../../../../../../assets/social media icons/iconfinder_2018_social_media_popular_app_logo_instagram_3225191.png" >
            <img src="../../../../../../../assets/social media icons/iconfinder_1_Linkedin_unofficial_colored_svg_5296501.png" >
        </div>
        <form id="login" class="input-group" [style.left]="isActive?'-400px':'50px'">
            <input #email type="email" class="input-field" placeholder="User Id" required>
            <input #password type="password" class="input-field" placeholder="Enter Password" required>
            <div class="remember">
            <input type="checkbox" class="check-box"><span>RememberPassword</span>
            </div>
            <button type="submit" class="submit-btn" (click)="onSignin(email.value,password.value)"[style.display]="isActive?'none':'flex'">Log In</button>
        </form>
        <form id="register" class="input-group" [style.left]="isActive?'50px':'450px'">
            <input #emailSignup type="email" class="input-field" placeholder="Email Id" required>
            <input #passwordSignup type="password" class="input-field" placeholder="Enter Password" required>
            <div class="terms">
            <input type="checkbox" class="check-box" required><span>I agree to the form & condition</span>
            </div>
            <button type="submit" class="submit-btn" (click)="onSignup(emailSignup.value,passwordSignup.value)" [style.display]="isActive?'flex':'none'">Sign In</button>
        </form>
    </div>
    <div class="board" [style.display]="isRegistered?'flex':'none'">
        <h2>Successfully Feeded</h2>
    </div>
</div>

