<div id="back-img">
    <div id="deals">
    <h2>Dealing Websites</h2>
    <ul>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    <ul>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    <ul>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    </div>
</div>
