<div class="content">
<h2>Our Products</h2>
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col ">
                <mat-card data-aos="fade-top">
                    <h6 style="margin-bottom:4%">Shoes</h6>
                    <img src="../../../../../../../assets/products/shoes.jpg" >
                    <h6 style="margin-top:4%">Range:200Rs-1000Rs</h6>
                </mat-card>
            </div>
            <div class="col ">
                <mat-card data-aos="fade-bottom">
                    <h6 style="margin-bottom:4%">Shirts</h6>
                    <img src="../../../../../../../assets/products/shirts.jpg" >
                    <h6 style="margin-top:4%">Range:200Rs-2000Rs</h6>
                </mat-card>
            </div>
            <div class="col ">
                <mat-card data-aos="fade-bottom">
                    <h6 style="margin-bottom:4%">Jeans</h6>
                    <img src="../../../../../../../assets/products/jeans.jpg" >
                    <h6 style="margin-top:4%">Range:500Rs-3000Rs</h6>
                </mat-card>
            </div>
            <div class="col">
                <mat-card data-aos="fade-top">
                    <h6 style="margin-bottom:4%">Jacket</h6>
                    <img src="../../../../../../../assets/products/jacket.jpg" >
                    <h6 style="margin-top:4%">Range:100Rs-6000Rs</h6>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>

