<div class="content">
    <h1  data-aos="fade-down">Place Order</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, earum.</p>
    <div class="form">
        <form id="register" class="input-group" >
            <input type="text" class="input-field" placeholder="Full Name:" required>
            <input type="email" class="input-field" placeholder="Email ID:" required>
            <input type="text" class="input-field" placeholder="Phone No:" min="0" step="10" required >
            <input type="text" class="input-field" placeholder="Address:" required>
            <input type="url" class="input-field" placeholder="Product URL:" required>
            <span style="margin: 4% 0% ;">Screen Shot</span>
            <div class="file-upload-wrapper">
                <input type="file" id="input-file-max-fs" class="file-upload" placeholder="Screenshot" data-max-file-size="2M" />
            </div>
            <input type="text" class="input-field" placeholder="Amount:"  required>
            <input type="number" class="input-field" placeholder="Quantity:" required>
            <button type="submit" class="submit-btn" data-aos="fade-left" data-aos-offset="100" >Proceed</button>
        </form>
    </div>
    </div>
    <div class="content-1">
        <h1  data-aos="fade-down">Cart History</h1>
    </div>
    <app-shopping></app-shopping>
