
    <div id="deals">
    <h2>Dealing Banks</h2>
    <ul>
        <li>
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li>
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
    </ul>
    </div>